.mainContent {
  padding-top: 100px; 
  margin: 10px;
  background-color: #ffffff;
}
.portfolioTitle {
  text-align: left;
  color: #333;
  margin-top: 10px;
}

.customNavbar {
  background-color: rgba(137, 105, 159, 0.5);
  backdrop-filter: blur(10px);
  padding: 20px 30px;
  /* border-radius: 20px;  */
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.customNavbar .nav-link {
    color: #333;
    margin: 0 15px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.customNavbar .nav-link:hover {
    background-color: #e7a9a9;
    border-color: #c97f7f;
    color: white;
}