.mainContent {
  margin: 10px;
  background-color: #ffffff;
}

#about{  
  scroll-margin-top: 100px;
  margin: 100px 10px;
  border-radius: 20px;
  display: flex; 
  flex-direction: column;

  align-items: center;
  justify-content: center;

  text-align: center;

}
.portfolioTitle {
  text-align: left;
  color: #333;
  margin-top: 10px;
  font-family: 'Arial', sans-serif;
  font-size: 60px;
}

.Rachel {
  color: #e7a9a9;
  font-weight: 600; 
}

.customNavbar {
  background-color: rgba(137, 105, 159, 0.5); 
  backdrop-filter: blur(10px);
  padding: 20px 30px;
  /* border-radius: 20px;  */
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.customNavbar .nav-link {
    color: #333;
    margin: 0 15px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.customNavbar .nav-link:hover {
    background-color: #e7a9a9;
    border-color: #c97f7f;
    color: white;
}

#workflow {
  
  scroll-margin-top: 100px;
  margin: 100px 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  text-align: center;
}
.carouselImage {
  height: 400px;
  object-fit: cover;
}

#projects {
  scroll-margin-top: 100px;
  margin: 100px 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}